{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block page_title %}Удаление аккаунта{% endblock %}

{% block content %}

    <h1>Удаление аккаунта</h1>
    <form method="post" action="{% url 'deactivate-user' %}">

        {% csrf_token %}
        {{ form|crispy }}

        <div class="d-flex gap-2 mb-2">
            <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-primary">Вернуться</a>
        </div>

    </form>

{% endblock content %}
