{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}{% trans "Sign Up" %}{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://smartcaptcha.yandexcloud.net/captcha.js"></script>
    <script>
        function initCaptcha() {
            if (!window.smartCaptcha || !window.smartCaptcha.render) {
                setTimeout(initCaptcha, 100);
                return;
            }

            window.smartCaptcha.render('captcha-container', {
                sitekey: '{{ YANDEX_CAPTCHA_CLIENT_KEY }}',
                hl: 'ru',
                callback: function (token) {
                    document.getElementById('smart-token').value = token;
                }
            });
        }

        document.addEventListener('DOMContentLoaded', initCaptcha);
    </script>

    <style>
		#captcha-container {
			min-height: 100px;
			margin: 20px 0;
		}
    </style>
{% endblock script %}

{% block content %}

    <p>Если Вы уже регистрировались ранее, то перейдите по <a href="{{ login_url }}">ссылке</a>.</p>

    <form class="account-form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <!-- Контейнер для капчи -->
        <div id="captcha-container"></div>
        <input type="hidden" name="smart_token" id="smart-token">

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <button class="btn btn-primary" type="submit" id="submit-btn">{% trans "Sign Up" %}</button>
    </form>

{% endblock content %}
