{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}{% trans "Sign Up" %}{% endblock %}

{% block styles %}
    {{ block.super }}
    <script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script>

    <style>
		#captcha-container {
            width: max-content;
			min-height: 100px;
			margin: 20px 0;
		}
    </style>
{% endblock styles %}

{% block content %}

    <p>Если Вы уже регистрировались ранее, то перейдите по <a href="{{ login_url }}">ссылке</a>.</p>

    <form class="account-form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}

        {% if not DISABLE_CAPTCHA_IN_DEBUG %}
            <!-- Контейнер для капчи -->
            <div
                    style="height: 100px"
                    id="captcha-container"
                    class="smart-captcha"
                    data-sitekey="{{ YANDEX_CAPTCHA_CLIENT_KEY }}"
            ></div>
        {% endif %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <button class="btn btn-primary" type="submit" id="submit-btn">{% trans "Sign Up" %}</button>
    </form>

{% endblock content %}
