@charset "UTF-8";
a {
	outline: 0 !important;
}

.empty-form {
	display: none !important;
}

#container {
	min-height: 100vh;
}

#container .main {
	position: relative;
	display: flex;
	height: auto;
}

#nav-sidebar {
	position: relative;
	height: 100%;
	max-height: 100%;
	max-width: 276px;
	flex-direction: column;
	transition: 300ms all ease;
}

#nav-sidebar .module table {
	display: flex;
	flex-direction: column;
}

.main.shifted > #nav-sidebar {
	left: 0;
}

.app-catalog .content {
	flex: 1 1 100%;
}

#changelist-filter {
	width: 200px;
}

td.field-image_img, th.column-image_img span {
	text-align: center;
}

.ui-tabs {
	padding: 0 !important;
}

.ui-tabs .ui-tabs-nav {
	margin: -2px !important;
	padding: 0.3em 0.3em 0 !important;
}

.form-row.field-image_img {
	float: left;
}

.form-row select[multiple], .form-row select[size] {
	width: auto;
}

.form-row ul {
	position: relative;
}

.submit-row > * {
	margin: 5px !important;
}

.submit-row input.default {
	float: left;
}

.submit-row input[type=submit] {
	float: left;
	font-size: 0.8em;
}

.submit-row p.deletelink-box {
	float: right !important;
}

.submit-row p.deletelink-box a {
	height: auto;
}

form .related-widget-wrapper ul {
	width: 100%;
}

.hidden-label .add-related::before {
	content: 'Новый ';
}

.column-file_thumb {
	max-width: 50px !important;
}

.column-title {
	flex: 0 0 50% !important;
}

.column-title > div {
	width: 100%;
}

.inline-header > span,
.inline-related fieldset > .form-row {
	flex: 1;
	margin: 0px 3px;
}

.inline-header > span.delete,
.inline-related fieldset > .form-row.delete {
	display: flex;
	min-width: 70px;
}

.tabular.inline-related fieldset {
	flex-wrap: wrap;
}

.tabular.inline-related .form-row {
	display: table-row;
}

.inline-group .tabular td.original p {
	display: none;
}

.inline-header {
	display: flex;
	margin: 5px 0;
	align-items: center;
	background-color: #eee;
	text-transform: uppercase;
	font-size: .7em;
	line-height: 20px;
}

.inline-header span {
	word-wrap: break-word;
}

.inline-header .column-delete {
	flex: 0;
	margin-left: 5px;
	text-align: right;
}

fieldset {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

fieldset input {
	margin: 0;
}

fieldset > * {
	flex: 100%;
}

fieldset .column-file_thumb {
	margin-right: 10px;
}

fieldset .form-row {
	border-bottom: none;
	margin-top: 5px;
	padding: 2px 0;
	overflow: initial;
}

fieldset .form-row > div {
	width: 100%;
}

fieldset .form-row.edit {
	position: absolute;
	right: 30px;
	height: 20px;
}

fieldset .form-row.delete > * {
	margin-left: auto;
	margin-right: 12px;
}

fieldset .column-file {
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	padding: 0;
	opacity: 0;
}

fieldset .column-file input {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}

fieldset.aligned label {
	width: 100%;
}

fieldset.aligned label + div.readonly, fieldset.aligned p.file-upload {
	margin-left: 0;
}

fieldset.aligned label + p {
	padding: 0;
}

fieldset input {
	font-size: 1.2em;
}

.inline-related > .form-row {
	margin-top: 0;
}

.inline-related > .form-row > div {
	width: auto;
}

.inline-related .vTextField, .inline-related .vUUIDField {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

@media (max-width: 767px) {
	.main.shifted > #nav-sidebar {
		box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.3);
	}

	#nav-sidebar {
		position: absolute;
		display: flex !important;
		box-shadow: 0 0 0 1000px transparent;
	}

	#toggle-nav-sidebar {
		position: fixed;
		display: block;
		height: 50px;
		width: 50px;
		border: 1px solid;
	}

	h1 {
		font-size: 2rem;
	}

	body {
		font-size: 0.8rem;
	}

	.inline-header .column-file_thumb {
		margin-right: 20px;
	}

	.inline-related fieldset {
		flex-wrap: wrap;
	}
}

.category-svg-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	box-sizing: border-box;
}

.category-svg-container img {
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
	transition: transform 0.3s ease;
}

.grid-cell:hover .category-svg-container img {
	transform: scale(1.05);
}

/* Стили для админки */
.field-logo_preview img {
	filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
}

@media (max-width: 992px) {
	.changelink, .inlinechangelink {
		overflow: hidden;
		width: 13px;
	}

	.column-sort {
		max-width: 100px;
	}

	.column-filename {
		display: none !important;
	}
}
