{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load cache %}
{% load thumbnail %}

{% block title %}
    {{ block.super }} {{ separator }} {{ page_title }} {% if exh_year %}{{ exh_year }}{% else %}за все годы{% endif %}
{% endblock title %}


{% block site_title %}
    <h1>
        {{ page_title }} {% if exh_year %}{{ exh_year }}{% elif is_all_years %}за все годы{% endif %}
    </h1>
{% endblock site_title %}

{% block link %}
    <div class="controls">
        <a
                href="#sidebarPrimary"
                class="filter-toggler d-flex align-center d-lg-none"
                data-toggle="offcanvas"
                data-target="#sidebarPrimary"
                aria-controls="sidebarPrimary"
        >
            <svg class="icon bi bi-filter-right left">
                <use xlink:href="#filter-icon"></use>
            </svg>
            <span>выбрать год</span>
        </a>
    </div>

{% endblock link %}

{% block sidebar %}
    {% with list_all_url='exhibition:'|add:absolute_url|add:'-list-all' %}
        {% with list_year_url='exhibition:'|add:absolute_url|add:'-list-year' %}
            <ul class="years-list sidebar-inner nav d-flex-column">
                <li class="nav-title {% if is_all_years %}active{% endif %}">
                    {% if not is_all_years %}
                        <a href="{% url list_all_url %}">
                            все годы
                        </a>
                    {% else %}
                        <span class="active-link">все годы</span>
                    {% endif %}
                </li>
                {% for e in exhibitions_list %}
                    <li class="nav-title {% if exh_year and exh_year == e.exh_year|stringformat:'s' %}active{% endif %}">
                        {% if exh_year == e.exh_year|stringformat:'s' %}
                            <span class="active-link">{{ e.exh_year }}</span>
                        {% else %}
                            <a href="{% url list_year_url e.exh_year %}">
                                {{ e.exh_year }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endwith %}
    {% endwith %}
{% endblock sidebar %}

{% block sidebar_secondary %}{% include "ads/sidebar_banners_list.html" %}{% endblock sidebar_secondary %}

{% block content %}

    {% cache cache_timeout persons absolute_url exh_year %}

        {% block persons_list %}

            <div class="grid persons-grid">
                {% for person in object_list %}
                    <a class="grid-cell" href="{{ person.get_absolute_url }}">
                        <div class="person-logo ratio">
                            {% thumbnail person.logo "150x150" as xs %}
                                {% thumbnail person.logo "300x300" as sm %}
                                    <img class="lazyload"
                                         src="{{ xs.url }}"
                                         data-src="{{ sm.url }}"
                                         data-srcset="{{ xs.url }} {{ xs.x }}w, {{ sm.url }} {{ sm.x }}w, {{ person.logo.url }} {{ person.logo.width }}w"
                                         data-sizes="auto"
                                         loading="lazy"
                                         title="{{ person.name }}"
                                         alt="{{ person.name }}"
                                    >
                                {% empty %}
                                    <img src="{% get_media_prefix %}site/no-person.png" alt="">
                                {% endthumbnail %}
                            {% endthumbnail %}
                        </div>
                        <h4 class="person-title">{{ person }}</h4>
                    </a>
                {% empty %}
                    <h2>Не определены!</h2>
                {% endfor %}
            </div>

        {% endblock persons_list %}

    {% endcache %}

{% endblock content %}
