{% extends 'exhibition/persons_list.html' %}
{% load static %}
{% load custom_tags %}
{% load cache %}
{% load thumbnail %}


{% block persons_list %}

    <ol class="list-style-none mt-2">
        {% regroup object_list by exhibitor_name as exhibitors %}

        {% for person in exhibitors %}
            <li class="winners-group mb-3">
                <h3 class="mt-0">{{ person.grouper }}</h3>
                <ul>
                    {% for nom in person.list %}
                        <li>
                            {% if nom.project_id %}
                                <a
                                        class="nomination-link"
                                        href="{% url 'exhibition:project-detail-url' nom.exhibitor_slug nom.project_id %}"
                                >
                                    <h4>{{ nom.nomination_title }}, <span>{{ nom.exh_year }}</span></h4>
                                </a>
                            {% else %}
                                <h4>{{ nom.nomination_title }}, <span>{{ nom.exh_year }}</span></h4>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <h3>Пока не определены!</h3>
        {% endfor %}
    </ol>

{% endblock persons_list %}


