{% load cache %}

<div class="container-fluid centered">

    <div class="nav-item navbar-search mr-1">
        <div class="nav-search-link btn-md ratio">
            <svg class="search-icon icon">
                <use xlink:href="#search-icon"></use>
            </svg>
        </div>
    </div>

    <div id="searchContainer">
        <form class="nav-search centered"
              action="{% block search-action %}{% url 'exhibition:search-results' %}{% endblock %}" method="GET">
            <input class="form-control" type="search" name="q" value="{{ request.GET.q }}" placeholder="Поиск"
                   aria-label="Search">
            <button type="submit">Найти</button>
            <button class="clear-input btn-close btn-sm d-lg-none" type="button" aria-label="Close">
                <svg class="close-icon icon">
                    <use xlink:href="#close-icon"></use>
                </svg>
            </button>
        </form>
    </div>

    <button
            class="nav-item navbar-toggler btn-lg ratio"
            type="button"
            data-toggle="offcanvas"
            data-target="#navbarMenu"
            aria-controls="navbarMenu"
    >
        <svg class="icon burger-icon">
            <use xlink:href="#burger-icon"></use>
        </svg>
    </button>

    <div id="navbarMenu" class="navbar-menu navbar-collapse offcanvas offcanvas-end d-flex align-center gap-2">
        <button type="button" class="btn-close btn-lg d-lg-none" data-dismiss="offcanvas" aria-label="Закрыть">
            <svg class="close-icon icon">
                <use xlink:href="#close-icon"></use>
            </svg>
        </button>

        <ul class="nav-items align-center">

            {% cache 2592000 navbar %}

                {% if exhibitions_list %}
                    <li class="nav-item dropdown exhibitions-item bg-dark collapsed">
                        <div
                                class="nav-link dropdown-toggle d-lg-none"
                                role="button"
                                aria-controls="dropdownYearsList"
                        >
                            Выставки
                        </div>

                        <a class="nav-link" href="/exhibitions/">Выставки</a>

                        <ul id="dropdownYearsList" class="dropdown-menu d-lg-none" aria-labelledby="exhibitionsMenuLink">
                            {% for e in exhibitions_list %}
                                <li><a class="dropdown-item" href="{{ e.get_absolute_url }}">
                                    {{ e.date_start|date:"Y" }}
                                </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exhibition:exhibitors-list-url' %}">Участники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exhibition:category-list-url' %}">Работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exhibition:winners-list-url' %}">Победители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exhibition:jury-list-url' %}">Жюри</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exhibition:partners-list-url' %}">Партнеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:article-list-url' %}">Статьи</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'exhibition:contacts-url' %}">Обратная связь</a>#}
{#                </li>#}

            {% endcache %}

            <li class="nav-item">
                <a
                        class="nav-link account-link text-sm"
                        aria-current="page"
                        href="{% if user.is_authenticated and user.is_staff %}/admin/{% elif user.is_authenticated %}/account/{% else %}/accounts/login/?next={{ request.get_full_path|urlencode }}{% endif %}"
                        rel="nofollow"
                >
                    {% if user.is_authenticated %}{{ request.user.username }}{% else %}Войти{% endif %}
                </a>
            </li>
        </ul>

        <div class="nav-item social-block">
            <a class="nav-social-link btn-sm ratio" href="https://vk.com/sfera43design" target="_blank">
                <svg class="icon vk">
                    <use xlink:href="#logo-vk"></use>
                </svg>
            </a>
        </div>

    </div>
</div>

