{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block styles %}
<link href="{% md5url 'css/home.min.css' %}" rel="stylesheet" type="text/css" media="screen"/>
{% endblock %}

{% block title %}{{ block.super }} | Сообщение отправлено{% endblock %}

{% block content %}
<section class="success-section">
	<div class="success-card">
		<div class="success-icon-wrap">
			<svg class="icon"><use xlink:href="#check-icon"></use></svg>
		</div>
		<h1 class="success-title">Сообщение отправлено!</h1>
		<p class="success-text">Спасибо за обращение! Организаторы выставки «Сфера дизайна» получили ваше сообщение и ответят вам в ближайшее время.</p>
		<div class="success-actions">
			<a href="/" class="btn btn-primary btn-lg">На главную</a>
		</div>
	</div>
</section>
{% endblock content %}
