[Unit]
Description=gunicorn socket for sd43

[Socket]
ListenStream=/run/gunicorn/sd43.sock
SocketUser=starck
SocketGroup=starck
SocketMode=0660

RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0750

[Install]
WantedBy=sockets.target
